{% include head-dark.html %}



<!-- <section class="article"> -->
<!--  <div class="overlay overlay-lighter"></div>
  
<div class="featured-image" style="background-image: url({{ site.url }}/images/atmosphere4.jpg)"></div> -->

<div id='bump'>
  <section class="article">
    <article class="archive-wrap">
      <!--<br>
            <br>
            <br>
            <br> -->
      <center>
        <p class="intro">I'm a postdoctoral researcher studying atmospheric composition and satellite remote sensing at
          Harvard.
          <br><br>
          Feel free to read more <a href="{{ site.url }}/about">about me</a>, view <a
            href="{{ site.url }}/daniel_varon_cv.pdf">my CV</a>, or check out some of <a
            href="{{ site.url }}/research">my research</a>.
        </p>
      </center>

      <figure>
        <center><img src="/images/me.png" alt="daniel varon" width="350" /></center>
      </figure>

      <center>
        <a href="https://www.linkedin.com/in/daniel-varon-051b9914b/"
          class="social-icon si-rounded si-small si-linkedin" target="_blank">
          <i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
      </center>
      <!--            <br>
            <br>
            <br>
              <ol class="post-list">
                 <lh><h2><span class="bb">Recent Posts</span></h2></lh>
                  {% for post in site.posts %}
                  <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
                        <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                  </li>
                  {% endfor %}
              </ol>                -->
    </article>
  </section>
</div>


<!-- {% include footer.html %}