{% if page.image.feature %}

{% include head.html %}

<section class="article">

  <div class="overlay overlay-lighter"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/atmosphere.jpg)"></div>
{% else %}

{% include head-dark.html %}

<section class="article pad-top">

{% endif %}


      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <p class="intro">I'm a PhD student studying atmospheric chemistry at Harvard. Feel free to read more <a href="{{ site.url }}/about">about me</a>, view <a href="{{ site.url }}/cv.pdf">my CV</a>, or check out some of <a href="{{ site.url }}/research">my research</a>!</p>
          </hgroup>
        </header>

        <!-- <figure><center><img src="/images/me.png" width="30%" height="30%" /></center></figure> -->

      </article>
    </section>
    
    <figure><center><img src="/images/me.png" width="30%" height="30%" /></center></figure>
    
</div>

{% include footer.html %}












<!-- {% include head.html %}

<section class="article">
  <div class="overlay overlay-lighter"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/atmosphere.jpg)"></div>

 <span class="banner_h">
    <img src="images/atmosphere.jpg" alt="banner" />
        <style>
        * {margin:0; padding: 0;}
        .banner_h {display: block; width: 100%;}
        .banner_h img {width:100%}
        </style>
</span> 

    <div id='bump'>
      <article class="wrap post">
            <p class="intro">I'm a PhD student studying atmospheric chemistry at Harvard. Feel free to read more <a href="{{ site.url }}/about">about me</a>, view <a href="{{ site.url }}/cv.pdf">my CV</a>, or check out some of <a href="{{ site.url }}/research">my research</a>!</p>
            <figure><center><img src="/images/me.png" width="30%" height="30%" /></center></figure>
            <br>
            <br>
            <br>
          </article>
        </section>
    </div>


{% include footer.html %} -->
